@font-face {
  font-family: Pixel; /* Имя шрифта */
  src: url('../../../static/pixelcyr.ttf'); /* Путь к файлу со шрифтом */
}

html, body {
  background-color: #000;
  height: 100%;
}

.body__wrapper {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CDE4F2;
}

.block__text {
  font-family: Pixel;
  color: #fff;
  font-size: 48px;
  line-height: 60px;
}

.task6.task_1 {
  position: relative;
  height: 800px;
  width: 800px;
  background: url('./scene1.png');
}

.task6.task_4 {
  position: relative;
  width: 800px;
  height: 800px;
  background: url('./scene4.png');
}

.task6.task_5 {
  position: relative;
  width: 800px;
  height: 800px;
  background: url('./scene5.png');
}

.task6.task_8 {
  position: relative;
  width: 800px;
  height: 800px;
  background: url('./scene8.png');
}

.task6.task_10 {
  position: relative;
  width: 800px;
  height: 800px;
  background: url('./scene10.png');
}

.task6.task_2, .task6.task_3, .task6.task_6, .task6.task_7, .task6.task_9, .task6.task_11 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 362px;
  background-color: #000;
}

.task6.task_10 {
  position: relative;
}

.task6.task_10 .block__text{
  position: absolute;
  top: 409px;
  left: 315px;
  font-size: 32px;
  line-height: 40px;
}

.button {
  padding: 21px 0;
  border-bottom: 8px solid #CCBA4D;
  border-left: 8px solid #CCBA4D;
  border-right: 8px solid #CCBA4D;
  background-color: #FFE860;
  text-decoration: none;
  font-family: Pixel;
  color: #8C7A0A;
  font-size: 36px;
  cursor: pointer;
}

.button._go, .button._nextTask {
  margin-top: 40px;
  width: 292px;
  bottom: 30px;
}

.next__button {
  position: absolute;
  bottom: 4px;
  right: 25px;
  color: #6790AA;
  opacity: 0.5;
  font-family: Pixel;
  font-size: 34px;
  border: none;
  background: none;
  cursor: pointer;
}

.next__button:after {
  content: '>';
}

.next__button._button_1, .next__button._button_4, .next__button._button_5, .next__button._button_8 {
  color: #fff;
  opacity: 0.6;
}
